
body {
background-image: url("1227306-texture-de-papier-froisse-gratuit-photo.jpg");


}
h1{font-family: 'Labrada', serif;; text-align: center; font-weight: bold;}

h2{
   font-family: 'Labrada', serif;;text-justify: auto;font-weight: bold;

}
h3{
    font-family: 'Labrada', serif;;text-justify: auto;font-weight: bold;

}

p{
   font-family: 'Labrada', serif;;text-justify: auto;

}

